// Font Family
$font-body: 'Roboto', sans-serif;
$font-heading: 'Barlow', sans-serif;

// Default Color
$color-white: #ffffff;
$color-black: #000000;
$color-body: #29281E;
$color-dark: #1F1D0D;
$color-light: #F6F6F6;
$color-border: #D2D2D2;
$color-danger: #FF82AF;
$color-primary: #7652DC;
$color-success: #00E0AA;
$color-warning: #FF8B49;

// Border Transition
$border-radius: 7px;

// Default Transition
$transition: 0.2s cubic-bezier(0.25, 1, 0.5, 1);