/*
	*	Color Class - Start
*/
.color-text-body {
	color: $color-body;
}
.color-text-dark {
	color: $color-dark;
}
.color-text-light {
	color: $color-light;
}
.color-text-border {
	color: $color-border;
}
.color-text-danger {
	color: $color-danger;
}
.color-text-primary {
	color: $color-primary;
}
.color-text-success {
	color: $color-success;
}
.color-text-warning {
	color: $color-warning;
}

.color-bg-body {
	background-color: $color-body;
}
.color-bg-dark {
	background-color: $color-dark;
}
.color-bg-light {
	background-color: $color-light;
}
.color-bg-border {
	background-color: $color-border;
}
.color-bg-danger {
	background-color: $color-danger;
}
.color-bg-primary {
	background-color: $color-primary;
}
.color-bg-success {
	background-color: $color-success;
}
.color-bg-warning {
	background-color: $color-warning;
}
/*
	*	Color Class - End
*/